.close.squad-edit {
    margin-right: 0px !important;
    padding-top: 0.9rem !important;
}

.card-squad{
    height: 90px;
    border-radius: 30px !important;
    transition: ease-in-out .2s !important;
}


.card-squad:hover {
    background: #fafafa;
    height: 80px;
    margin-top: -2px
}


.card-squad .card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.card-squad .card-body span {
    font-size: 120%;
    text-align: center;
    color: #252525;
    z-index: 1;
}

.card-squad .card-body .status {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    z-index: 1;
}

.card-squad .card-body .background {
    position: absolute;
    color: #f0f0f0;
    z-index: 0;
    width: 50%;
    height: 50%;
}
.titulos-dashboard {

    font-size: 40px;
    margin-bottom: 2%;
    margin-top: 2%;

}