html{
    overflow: hidden;
}
.content {
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    display: flex;
    height: 40px;
    color: #888 !important;
    margin-left: 15px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 17px;
}

.content .add {
    font-size: 30px;
}

.content:hover {
    transition: all 0.3s;
    opacity: 0.5;
}

.squad-header {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    text-decoration: none;
}


.squad-header::-webkit-scrollbar {
    height: 10px;
}

.squad-header::-webkit-scrollbar-thumb {
    background: #dedede;
}

.squad-body{
    display: flex;
}

.ger-info {
    color: #818080;
    font-size: 2em;
    height: 404px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squad-info {
    width: 400px;
}

.squad-info h2 {
    font-size: 36px;
}

.squad-info p {
    font-size: 15px;
    text-align: justify;
}

.squad-func {
    box-shadow: 3px 4px 8px 0px #999999ad;
    height: 150px;
    padding: 15px;
    cursor: pointer;
}

.squad-func:hover {
    transition: all 0.3s;
    opacity: 0.5;
}

.point {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #007500;
    margin: 0 15px;
}

.func {
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 30px;
}

.squad-dash {
    display: block;
    height: 400px;
    width: 90%;
    padding: 10px 24px;
}

#chart-line {
    display: block;
    width: 700px;
}

.Objetivo {
    margin: 40px 0 60px 0;
}

.selected {
    border: solid #8cc7f7 2px;
}

.default {
    border: solid #d6d6d6 2px;
}

.online {
    border: solid var(--success) 3px;
}

.offline {
    border: solid var(--danger) 3px;
}

.atention {
    border: solid var(--warning) 3px;
}

.error {

}