.titulos-dashboard{

    font-size: 40px;
    margin-bottom: 2%;
    margin-top: 2%;

}

.sub-titulos-dashboard{

    font-size: 30px;
    margin-bottom: 2%;
    margin-top: 2%;

}

.sub-graficos-barra{

    width: 45%;
    position: absolute;
    
}
.sub-graficos-pizza{
    width: 45%;
    position:relative;
    float: left;
}

