.titulos-dashboard{

    font-size: 40px;
    margin-bottom: 2%;
    margin-top: 2%;

}

.sub-titulos-dashboard{

    font-size: 30px;
    margin-bottom: 2%;
    margin-top: 2%;

}

.check-dash-squad{
    width: 50%;
    padding: 8px;
}
.radio-dash-squad{
    width: 60%;
    padding: 5px;
    margin-left: 10%;
}
.check-dash-squad2{
    width: 50%;
    padding: 8px;
}

.card-squad{
    height: 300px;
}

.div-scroll{
    overflow-y: scroll;
    height: 371px;
}
