.titulos-dashboard {

    font-size: 40px;
    margin-bottom: 2%;
    margin-top: 2%;

}

.sub-titulos-dashboard {

    font-size: 18px;
    margin-bottom: 1%;
    margin-top: 2%;

}

.check-dash-squad {
    width: 40%;
    padding: 8px 0;
    margin-left: 15px;
}

.radio-dash-squad {
    width: 60%;
    padding: 16px 0;
    margin-left: 15px;
}

.check-dash-squad2 {
    width: 90%;
    padding: 8px 0;
    margin-left: 15px;
}

.card-squad {
    height: 300px;
}

.div-scroll {
    overflow-y: scroll;
    height: 371px;
}
.BONECO{

    border-left: 1px solid #dddddd;

}