.botoes-flutuantes-container {
    position: fixed;
    right: 50px;
    bottom: 50px;
}
​
.bug{

    

}
.botao-flutuante {
    display: block;
    border-radius: 50%;
    padding: 0;
    border: none;
    outline: none;
    background: var(--success);
    color: var(--white);
    height: 45px;
    width: 45px;
    transition: ease-in-out 0.1s;

}

.botao-flutuante:hover {
    color: #fff;
    margin-bottom: 2px;
    background-color: #218037;
}