.squad-modal-lista-funcionarios {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.squad-modal-lista-funcionarios::-webkit-scrollbar {
    background: #e0e0e0de;
    width: 7px;
}

.squad-modal-lista-funcionarios::-webkit-scrollbar-thumb {
    background: #04a9f5;
}

.card-squad{
    height: 100px;
    border-radius: 30px !important;
    transition: ease-in-out .2s !important;
}
.alert-squad{
    margin-bottom: 0 !important;
    height: 130px;
    border-bottom-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
}
.card-squad:hover {
    background: #fafafa;
    height: 110px;
    margin-top: -5px
}

.card-squad .card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.card-squad .card-body span {
    font-size: 200%;
    text-align: center;
    color: #252525;
    z-index: 1;
}

.card-squad .card-body .status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 1;
}

.card-squad .card-body .background {
    position: absolute;
    color: #f0f0f0;
    z-index: 0;
    width: 90%;
    height: 90%;
}