

.card-squad{
    /* height: 90px;
    width: 100px; */
    border-radius: 30px !important;
    transition: ease-in-out .2s !important;
}


.card-squad:hover {
    background: #fafafa;
    height: 81.5px;
    margin-top: -2px
}   


.card-squad .card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.card-squad .card-body span {
    font-size: 120%;
    text-align: center;
    color: #252525;
    z-index: 1;
}

.card-squad .card-body .status {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    z-index: 1;
}

.card-squad .card-body .background {
    position: absolute;
    color: #f0f0f0;
    z-index: 0;
    width: 50%;
    height: 50%;
}
.titulos-dashboard {

    font-size: 40px;
    margin-bottom: 2%;
    

}

.card-Squad{
    
    width:320px;
    height:422.5px;
    bottom: -15%;
    
}
.div-scroll {
    overflow-y: scroll;
    height: 385px;
}

.div-linha-pai{
    height: 100%;
}
.div-linha-filho{
    margin-bottom:3%;
    
}
.div-esquerda{
    margin-left: 50px;
}
.card-Dash{
    width:90%;
    height:280px;
}
.card-Dash-tamanho{
    height: 100%;
    background-image: url(../images/giphy\(2\).gif);
    /* background-size:cover; */
    background-position: center;
    -webkit-filter: blur(10px);
    -moz-filter: blur(8px);
    -o-filter: blur(5px);
    -ms-filter: blur(1.5px);
    filter: blur(1.5px);
}
.card-Dash-tamanho:hover{
    filter: blur(3px);
}
.alerta-drop{
position: absolute;
height: 50px;
top: 40px;
}

.botao-alerta{
float: right;
margin-right: 100px;
border-radius: 50%;
padding: 0;
border: solid;
outline: none;
display: inline-flex;
justify-content: center;
align-items: center;
height: 50px;
width: 50px;
transition: ease-in-out 0.1s;

}
    
.tamanho-alerta{
    font-size: 30px !important;
}
.div-scroll-notificacao {
    overflow-y: scroll;
    height: 400px;
    
}
.card-squad-notificacao{
    width:100%;
    height:100%;
    
}
.card .card-squad-notificacao{

    margin-bottom: 0 !important;

}
.card-corection{

    margin-bottom: 0 !important;
    padding: 0 !important;
}

.div-alerta{
    border-radius: 10px !important;
    top: 20px;
    text-align: center;
}
html, body {
  overflow: hidden;
}

div#dropdownMenuButton:hover{
    background-color:#EEEEEE;
    border-radius: 50%;
    height: 53px;
    width: 53px;
    
}
.espaco-correto{

    flex: 0 0 20% !important;

}