.modalCustom {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 68px 94px !important;
    padding-bottom: 0 !important;
    background-color: #000000ba;
    z-index: 1031;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal-backdrop {
    z-index: 1030 !important;
}

.modalCustom-content {
    z-index: 1032;
    display: flex;
    outline: 0;
}

.modalCustom-icons {
    display: flex;
    position: fixed;
    right: 50px;
    top: 50px;
    width: auto;
    align-items: center;
}

.modalCustom-icons a {
    color: #fff !important;
    font-size: 3em;
    width: 30px;
    display: flex;
    height: 30px;
    margin: 0 10px;
    text-align: center;
}


.modalCustom ::-webkit-scrollbar {
    width: 6px;
}

.modalCustom ::-webkit-scrollbar-thumb {
    background: #082431;
}

.modalCustom ::-webkit-scrollbar-thumb:hover {
    background: #0f4158;
}

.modalCustom ::-webkit-scrollbar-track {
    background: #02090c;
}

/* ESTILO DA CAIXA DE INFORMAÇÕES DO SQUAD */

.modalCustom-info {
    color: #fff;
    width: 39%;
    height: 100%;
    padding: 0 10px;
    display: inline-flex;
    flex-direction: column;
}

.modalCustom-header {
    display: flex;
    align-items: center;
}

.modalCustom-title {
    font-size: 3.5em;
}

.modalCustom-status {
    height: 20px;
    margin: 0 20px;
    border-radius: 50%;
    width: 20px;
    display: inline-flex;
    background-color: var(--white);
}

.danger {
    background-color: var(--danger);
    border-color: var(--danger) !important;
}

.success {
    background-color: var(--success);
    border-color: var(--success) !important;
}

.warning {
    background-color: var(--warning);
    border-color: var(--warning) !important;
}

.info {
    background-color: var(--info);
    border-color: var(--info) !important;
}

.modalCustom-info-text{
    text-align: justify;
    margin: 60px 0;
}

.modalCustom-subtitle {
    display: block;
    font-size: 1.8em;
}

.modalCustom-description {
    display: block;
    font-weight: lighter;
    color: #cacaca;
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 70px;
}

/* ESTILO DA CAIXA DE FUNCIONARIOS DO SQUAD */

.modalCustom-func{
    color: #fff;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: inline-flex;
    flex-direction: column;

}

.modalCustom-superior {
    display: flex;
    width: 580px;
    justify-content: center;
    margin-bottom: 15px;
    overflow-x: overlay;
    overflow-y: hidden;
}

.modalCustom-superior::-webkit-scrollbar {
    height: 6px;
}

.modalCustom-funcionarios {
    width: 86%;
    padding: 15px 0;
    max-height: 450px;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    border-top: #00adff solid 3px;
    background-image: linear-gradient(#00adff06, #ff000000);
    overflow-x: hidden;
    overflow-y: overlay;
}

.modalCustom-funcionarios::-webkit-scrollbar {
    width: 6px;
}

.funcionario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 135px;
    margin: 5px;
}

.funcionario-avatar {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

.funcionario-foto {
    border: 5px solid;
    height: 80px;
    width: 80px;
}

.funcionario-status {
    width: 20px;
    border-radius: 50%;
    display: block;
    height: 20px;
    margin-top: -20px;
}

.funcionario-nome {
    max-width: 17ch;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.funcionario-cargo {
    text-transform: uppercase;
    color: #00adff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}